src/main/resources/xsd/AddressComponent.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="address_component">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="long_name" type="xs:string" />
                <xs:element name="short_name" type="xs:string" />
                <xs:element maxOccurs="unbounded" name="type" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>