src/main/resources/xsd/Geometry.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="geometry">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="location">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="lat" type="xs:decimal" />
                                        <xs:element name="lng" type="xs:decimal" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="location_type" type="xs:string" />
                            <xs:element name="viewport">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="southwest">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="lat" type="xs:decimal" />
                                                    <xs:element name="lng" type="xs:decimal" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="northeast">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="lat" type="xs:decimal" />
                                                    <xs:element name="lng" type="xs:decimal" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="bounds">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="southwest">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="lat" type="xs:decimal" />
                                                    <xs:element name="lng" type="xs:decimal" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="northeast">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="lat" type="xs:decimal" />
                                                    <xs:element name="lng" type="xs:decimal" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>